<table class="table table-hover" id="table_detail" style="width: 90%; margin: 0 auto; border-collapse: collapse;">
    <thead class="table-dark">
        <tr>
            <th>Data</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Adj Close</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
        <td>{{ data.date }}</td>
        <td>{{ data.open }}</td>
        <td>{{ data.high }}</td>
        <td>{{ data.low }}</td>
        <td>{{ data.close }}</td>
        <td>{{ data.adj_close }}</td>
        <td>{{ data.volume }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>