{% block content %}
{% load static %}
<ul class="list-group">
{% for action in actions %}
    <li class="list-group-item">
        <a href="{% url 'action_detail' action.id %}" style="text-decoration: none; color: black;">
            <div class="container">
            <div class="row">
                <div class="col-6">
                    <h5>{{action}}</h5>
                </div>
                <div class="col-5">
                    <caption>
                        {% if action.description %}
                            {{action.description}}
                        {% else %}
                            (sem descrição)
                        {% endif %}
                    </caption>
                </div>
            </div>
            </div>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}


