.page{

    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(49, 51, 63);
    background-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: auto;
}
                                                                                                                                                                                                                                                                                                                                                                                                            

.navbar{
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045) 1;
}

.menu_logo{
    border-bottom: 2px solid green;
}


.icon_user {
    height: 40px;
    }

.img-fluid.logo_icon {
margin-left: 50px;
height: 60px;
}


.img-fluid.logo_menu {
    margin-left: 50px;
    height: 130px;
    }
    
    body {
        margin: 0;

      }
      
      .btn.btn-outline-danger {
        --bs-btn-color: black ;
        --bs-btn-border-color: rgba(49, 51, 63, 0.2);
        --bs-btn-hover-color: #ff0000;
        --bs-btn-hover-bg: #ffffff;
        --bs-btn-hover-border-color: #ff0019;
        --bs-btn-focus-shadow-rgb: 220, 53, 69;
        --bs-btn-active-color: #ffffff;
        --bs-btn-active-bg: #ff0019;
        --bs-btn-active-border-color: rgba(49, 51, 63, 0.2);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #dc3545;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #dc3545;
        --bs-gradient: none;
        border-radius: 0.5rem;
      }
      
      .botao {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10vh;
      }
      
      .totalizadores {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10;
      }
      
      .total {
        background-color: rgb(240, 240, 240);
        text-align: center;
        border-left: 5px solid rgb(170, 170, 0);
        border-radius: 5px;
        overflow: hidden;
        width: 10vw;
        margin: 10px;
      }
      
      .total > span {
        color: green;
        font-weight: bold;
      }
      
      .total > p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      
      .accordion {
        margin: 0px auto;
        width: 80vw;
      }
      
      .accordion-header > button:hover {
        color: rgb(255, 0, 0);
      }
      
      .accordion-button:not(.collapsed) {
        background-color: white !important; /* Cor de fundo quando ativo */
        font-size: 15px;
      }
      .accordion-button.collapsed {
        font-size: 15px;
      }
      
      .expanded {
        margin-top: 20px;
      }
      
      .form-check .form-check-input {
        cursor: pointer;
      }
      
      .filtros {
        margin: 0px auto;
        width: 80vw;
      }
      
      .form-select {
        margin-top: 10px;
        width: 100%;
      }
      
      .select {
        width: 100%;
        justify-content: center;
      }
      
      .multiselect {
        width: 80vw;
        margin: 0px auto;
        margin-top: 20px;
      }
      
      .mult-select-tag .body:hover {
        border: 1px solid red;
      }

      .table-dark {
        --bs-table-color: #000000;
        --bs-table-bg: #f8f8f8;
        --bs-table-border-color: rgba(24,29,31,.25);
        --bs-table-striped-bg: #2c3034;
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: #373b3e;
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: #323539;
        --bs-table-hover-color: #fff;
        color: var(--bs-table-color);
        border-color: var(--bs-table-border-color);
        border: --bs-table-border-color 1px solid;
    }

    .table-dark tr th{
            padding-left: 10px;
            padding-right: 50px;
            border: rgba(24,29,31,.25) 1px solid;
        

    }

    .table {
        --bs-table-color-type: initial;
        --bs-table-bg-type: initial;
        --bs-table-color-state: initial;
        --bs-table-bg-state: initial;
        --bs-table-color: var(--bs-emphasis-color);
        --bs-table-bg: var(--bs-body-bg);
        --bs-table-border-color: var(--bs-border-color);
        --bs-table-accent-bg: transparent;
        --bs-table-striped-color: var(--bs-emphasis-color);
        --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
        --bs-table-active-color: var(--bs-emphasis-color);
        --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
        --bs-table-hover-color: var(--bs-emphasis-color);
        --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
        width: 100%;
        margin-bottom: 1rem;
        vertical-align: top;
        border: rgba(24,29,31,.25) 1px solid;;
    }