{% extends 'base.html' %}
{% block content %}
{% load static %}
<a href="{% url 'etl' %}">
    <button style="margin: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
        </svg>
    </button>
</a>
<h3 class="text-center">{{action}}</h3>
    <style>
        table {
           width: 90%;
            margin: 0 auto;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <br>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Adj Close</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
            <td>{{ data.date }}</td>
            <td>{{ data.open }}</td>
            <td>{{ data.high }}</td>
            <td>{{ data.low }}</td>
            <td>{{ data.close }}</td>
            <td>{{ data.adj_close }}</td>
            <td>{{ data.volume }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}

