{% extends 'base.html' %}
{% block content %}
<div>
    <p class="h1 text-center">{{title}}</p>

    <div class="container text-center">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Nova Ação</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="mb-3">
                                {% csrf_token %}
                                <input class="form-control" type="text" name="action" placeholder="Nome da Ação">
                                <input class="form-control" type="text" name="description" placeholder="Descrição">
                                <button class="btn btn-success" hx-post="{% url 'add_action' %}" hx-trigger="click" hx-target="#return_load_action">Salvar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="text-end">Ações Cadastradas</h1>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <br>


    <div class="container" id="return_load_action">
    {% include 'partials/htmx_components/list_actions.html' %}
    </div>


</div>
{% endblock %}




